<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <label for="username">Username</label>
    <input id="username" formControlName="username" type="text">
    <div *ngIf="registerForm.controls['username'].invalid && registerForm.controls['username'].touched">
      Username is required.
    </div>
  
    <label for="password">Password</label>
    <input id="password" formControlName="password" type="password">
    <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched">
      Password is required (min 6 characters).
    </div>
  
    <button type="submit" [disabled]="registerForm.invalid">Register</button>
</form>
  